<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wujk.springbootshardingjdbc.UserMapper">
    <resultMap id="BaseResultMap" type="com.wujk.springbootshardingjdbc.User">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>
    <sql id="Base_Column_List">
		id, name
	</sql>
    <insert id="insert" parameterType="com.wujk.springbootshardingjdbc.User">
        insert into User (id, name)
	    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
    </insert>
    <insert id="batchInsert" parameterType="list">
        insert into User (id, name)
	    values
	    <foreach collection="list" item="item" index="index" open="" close="" separator=",">
            (#{item.id,jdbcType=INTEGER}, #{item.name,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from User
    </select>
    <select id="listByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from User order by id asc limit #{pageNumber}, #{pageSize}
    </select>
</mapper>